/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body{
    height: 100vh;
    width: 100vw;
}
:root {
    --font-color:#495051;
    --font-theme-color :#0ed3c4/*:#836ad1*/;
    --bg-theme:#0ed3c4;
    --bg-child-theme-color:#55a7a0 /*#5e3ec5*/;

  }
  .font-12{
    font-size: 12px;
  }
  .font-14{
    font-size: 14px;
  }
  .font-15{
    font-size: 15px;
  }
  

